<div class="card">
  <div class="row">
    <div class="col-sm-4">
      <img class="card-img align-self-center" src="http://aticodeloslibros.com/img/cms/pauljohnson.jpg" alt="Autor" style="width: 125px">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <p class="card-text">Autor: {{autorNombres}} {{autorApellidos}}</p>
        <p class="card-text">Fecha de Nacimiento: {{autorFechaNacimiento}}</p>
        <p class="card-text">Numero Libros: {{autorNumeroLibros}}</p>
        <p class="card-text">Ecuatoriano: {{autorEcuatoriano}}</p>
      </div>
    </div>
  </div>
</div>
