<nav class="navbar">
  <form class="navbar-brand ml-auto">
    Ronny Cabrera
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMH16ZKeKCMmYx8aHFprPHLrQBu0Fo_XDD9J4Ch7h-HQtfcYby" width="30" height="30" class="d-inline-block align-top" alt="">
  </form>
</nav>
<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-10">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Buscar Usuario o Autor o Libro" aria-label="Search" [(ngModel)]="nombreBuscar" name="Search">
      <button class="btn btn-outline-success" type="submit" (click)="ngOnInit()">Buscar</button>
    </form>
  </div>
  <div class="col-sm-1">

  </div>
</div>
<br>
<div class="row">

  <div class="col-sm-1">

  </div>
  <div class="col-sm-10">
    <h3>Usuarios</h3>
    <div class="row">
      <div *ngFor="let usuario of usuariosMostrar" class="col-sm-3">
        <div class="card" style="width: 10rem;">
          <app-usuario [nombres]="usuario.nombreUsuario" [apellidos]="usuario.apellidoUsuario" ></app-usuario>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <button (click)="anterior()" [disabled]="paginaActual === 1">Anterior</button>
      </div>
      <div class="col-sm-6">
      </div>
      <div class="col-sm-2 ml-auto">
        <button (click)="siguiente()" [disabled]="paginaActual === paginas">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="col-sm-1">

  </div>
</div>
<!--
<br>
<app-autor></app-autor>
<br>
<app-libro></app-libro>
-->
<br>
